@import "tailwindcss";

:root {
  /* Creamy white background for a warm paper feel */
  --background: #fdfbf7;
  /* Deep Christmas Red */
  --foreground: #8b1c1c;
  
  --color-christmas-red: #d42426;
  --color-christmas-green: #165b33;
  --color-christmas-gold: #f8b229;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
